/* Estilo para a imagem no cabeçalho */
.header-image {
    width: 100%;
    height: 100px; /* Altura ajustada */
    object-fit: cover; /* Isso mantém a proporção e corta a imagem para preencher o contêiner */
    filter: blur(5px); /* Efeito de desfoque */
}

/* Estilo para o cabeçalho */
header {
    width: 100%;
    /*background-color: #333; *//* Cor de fundo do cabeçalho */
    padding-bottom: 10px; /* Espaçamento interno */
    text-align: center; /* Alinhar o conteúdo ao centro */
}
